div.image-container {
    
    text-align:center;
    width:100%;
    height:auto;
    position:relative;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:5px;

    img {
        width: 100%;
        height: auto;
    }
    
}

div.main-column {
    blockquote {
        border-left: 2px solid @rosemary;
        padding-left: 2em;
        font-style: italic;
        color: @rosemary;
        p {
            color: inherit;
        }
    }
}
/*
div.sticker {
    height:82px;
    width:82px;
    margin:0 auto;
    position:absolute;
    background:url(../images/redsticker.png);
    left:50%;
    transform:translateX(-50%);
    top:-30px;
}*/