
div.contact-footer h3, div.contact-footer p, div.contact-footer a, div.about-footer a, div.book-footer a {
    color:#000 !important;
}
div.home-footer {
    background:@light-slate;
}
#footer-top {
    height:49px;
    width:100%;
    background:@light-slate;
    position:absolute;
    top:-40px;
}
div.about-footer h3, div.about-footer p, div.book-footer h3, div.book-footer p {
    color:#000 !important;
}
img.social {
    margin:0 auto;
    display:block;
}


#footer {
    width:100%;
   
    height:auto;
    min-height:240px;
    position:relative;

    background:@light-slate;

    padding-bottom: 20px;


    h3 {
        color: @dark-slate;
        text-align:center;
        padding:38px 0 0 0;
        font-size:24px;
    }
    p {
       color: @dark-slate;
        text-align:left;
        font-size:18px;
        max-width:890px;
        margin:0 auto;
    }

    a {
    	color: @red;
    }

  	i.fa {
  	 	font-size: 50px;
  	}

    .contact-info {
      text-align: center;
    }

  	.social-links {
      text-align: center;
  		a {
  			display: inline-block;
  			height: 50px;
  			line-height: 50px;
  			vertical-align: middle;
  			margin: 1em;

  			img {
  				height: 50px;
  				width: auto;
  			}
  		}
  	}



}

#footer {
	
	
}
