@charset "utf-8";

/* CSS Document */





.cat-Gallery a img{padding: 10px; border: 1px solid #dc3930; margin-left: 20px; margin-bottom: 20px;}

#post-1625{width: 820px;}

#post-1658{width: 950px; margin-left: -60px;}

#post-1658 .mcheader{margin-left:0px;}

#post-1710{width: 950px; margin-left: -60px;}

#post-1710.mcheader{margin-left:0px;}

div.page-1625 div.right-column{display: none!important;}

div.page-1658 div.right-column{display: none!important;}

div.page-1710 div.right-column{display: none!important;}

.cat-Gallery div.right-column{display: none!important;}

.attachment .entry-header{display: none;}

.attachment .entry-content{align:center; margin: 0px auto;}

.attachment .entry-content img{position: relative; left: 350px;}

.image-attachment #nav-single{position: relative; left: 350px;}

