


#main-header {

    height: 400px;
    height: 40vh;

    @carousel-height : 100%;
    @header-height: 20%;

    @media screen and (max-width: 800px) {
        height: 400px;
    }

    position: relative;

    #header  {

        width:100%;
        margin: auto;
        left: 0;
        right: 0;

        height: 40px;
        
        padding: 10px 0;
        box-sizing: border-box;
        z-index:10;

        background: #fff;

        a {
            display: block;
            position: relative;
             height: 100%;
        }


        position: absolute;
        
        //top: @carousel-height * 0.05;

        top:0;
        

        z-index: 10;

        #perkin-img-logo {
            display: block;
            margin: auto;
            height: 20px;
            width: auto;
        }

        #perkin-svg {



            height: 100%;
            width: 80%;
            
            margin: auto;
            display: block;

                .st0, .st1 {
                   fill: #fff;
                }
            }
    }


    #carousel {
        z-index: 5; 
        height: @carousel-height;
        background: #000;
        #carousel-slides {
            img {
                opacity: 0.8;
            }
        }
    }



} // eo #main-header


#menu-container  {
    min-height: 400px - (0.8 * 400px);
    min-height: 40vh - (0.8 * 40vh);
    
    background: #fff;
    z-index: 200;
    width:100%;

    position:relative;

     display:table;
    .menu-primary-container {
        width: 100%;
        display:table-cell;
        vertical-align: middle;
    }
}

   

body.home {

    #perkin-img-logo {
            display: block;
            margin: auto;
            height: auto;
            width: 100%;
            height: auto;
        }


    #main-header {

        height: 800px - (0.12 * 800px);
        height: 100vh - (0.12 * 100vh);

    	@media screen and (max-width: 800px) {
            height: 400px;
        }

        #header  {
                height: 18%;

                position: relative;
                top: 0;
                transform:none;
                #perkin-svg {

                    height: 100%;
                    width: 100%;
                    top: 0;

                    .st0 {
                       fill: @red;
                    }
                    .st1 {
                       fill: @dark-slate;
                    }
                }
        }


    	#carousel {
    	    height: 82%;
           #carousel-slides img {
                opacity: 1;
            }
    	}
     }

     

     #menu-container  {
        min-height: 0.12 * 800px;
        min-height: 0.12 * 100vh;


    }
}

body.custom-background {
	background-color: none !important;
}





.main-column {
        .image-container {
            p {
                padding:0px!important;
                margin: 0px!important;
            }
        }
    }

.newsletter {
    position: relative;
    top: -70px;
    left: 500px;
}
body {
    margin:0;
    padding:0;
    position:absolute;
    height:100%;
    width:100%;
    color:#444434;
    p {
        a {
            color:#ee2e24;
        }
    }
}
img, a {
    outline:none;
    border:none;
}
.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}
#page-wrapper {
    width:100%;
}
#overlay-container {
    
    height:auto;
    position:relative;
}
img#overlay-left {
    position:absolute;
    top:0;
    left:0;
    width:25%;
    z-index:99;
}
img#overlay-right {
    position:absolute;
    top:0;
    right:0;
    width:25%;
    z-index:99;
}

div.strapline-container {
    position:absolute;
    z-index:10;
    top:32px;
    left:348px;
}
h2.strapline {
    color:#fff !important;
    font-size:22px !important;
    text-transform: uppercase;
    line-height:18px;
    margin:0;
    padding:0;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    span {
        background:#e90000;
        padding:3px 4px 1px 4px;
        opacity:0.75;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
    }
}
h2.line-two {
    margin-top:5px;
}







h1.page-header {
    font-size:32px;
    text-align:center;
    color:#444434;
    padding:0 0 10px 0;
}
div.top-para {
    p {
        font-size:18px;
        text-align:left;
    }
}




.red {
    color:#ee2e24;
}

div.sidebar-section {
    width:100%;
    background:#fff;
    margin:0 0 20px 0;
    box-sizing: border-box;
    padding:2%;
    border:1px solid @light-slate;
    


    position:relative;
    h3 {
        
        margin:10px;
        text-align:center;
        font-size:1em;
    }
    h2 {
        
        color: @red;
        font-size:1.2em;
        
        margin:10px auto;
        width: 100%;
        box-sizing: border-box;
        text-align:center;
        font-weight: normal;
        text-transform: uppercase;
    }

    ul.perkin-menu-list {
        margin: 0;
        padding: 4%;
        width: 100%;
        
        position: relative;
        box-sizing: border-box;


    
        list-style-type: none;
        
        overflow:hidden;
        
        li {
            width: 47%;
            display: inline-block;
            padding: 2%;
            box-sizing: border-box;
            float: left;
            &:nth-of-type(2n+1){
                margin-right: 4%;
            }
            &:nth-of-type(n+3) {
                border-top: 1px solid #E8DEDE;
            }
            a {
                text-decoration:none;
                color:#444343;
                font-size:14px;
            }
            a:hover {
                color:#ee2e24 !important;
                border-bottom:1px solid #ee2e24;
            }
        }

    }
}
div.sidebar-section p, #bookingform div p {
    color:#000;
    font-size:14px;
    text-align:center;
    margin-top:0;
    font-weight:normal;
}
form#bookingform {
    text-align:center;
    color:#000;
    font-size:14px;
    font-weight:bold;
    margin-bottom:30px;
    select {
        width:130px;
        margin:0 0 18px 20px;
    }
    div {
        label {
            text-align:right;
            width:130px;
            display:inline-block;
        }
    }
    input[type="submit"] {
        cursor:pointer;
    }
}
h3.saa {
    color:#696a6c !important;
    font-size:23px !important;
    padding:10px 0 0 0;
}
div.post {
    p {
        font-size:18px !important;
        color:#696a6c;
        padding:0 30px;
    }
}

div.post-item {
    position:relative;
    padding-bottom:20px;
    border-bottom: 2px solid @light-slate;
}
a.upbtn {
    display:block;
    height:88px;
    width:58px;
    position:absolute;
    left:-70px;
    bottom:60px;
    background:url(../images/upbtn.png);
}
h1.mcheader {
    font-size:32px;
    color:#444343;
    text-align:center;
    margin-top:0;
    padding-top:0;
}
.mcheader {
    a {
        color:#444343;
    }
}

img.shareicons {
    margin:0 0 0 10px;
}
ul.tweets {
    list-style:none;
    margin-left: 0px;
    padding-right: 20px;
    margin-top:0px;
    padding-left: 15px;
    padding-right: 15px;
    li {
        font-size:12px;
        color:#444343;
        display:block;
        img {
            float:left;
            padding-right:5px;
            padding-bottom:5px;
        }
        a {
            text-decoration:none;
            color:#ee3124;
        }
    }
}
p.edit a, span.edit a {
    font-size:0.75em;
    font-weight:bold;
    color:#f50;
}
p.edit a:hover, span.edit a:hover {
    color:red;
}
ul.gallery-thumbs {
    margin:0px;
    margin-bottom:10px;
    padding:0px;
    position: relative;
    width: auto;
    li {
        display:inline;
        margin:10px;
        margin-left:4px;
        margin-right:4px;
        a {
            img {
                border:solid 1px #ddd;
                padding:5px;
            }
        }
    }
}
div#slides {
    left: 0;
    overflow: hidden;
    position: absolute;
    visibility: visible;
    width: 100% !important;
    z-index: 2;
}
#slides {
    ul.anyslide {
        float:left;
        width:100%;
        text-align:center;
        margin-left:-320px !important;
        li {
            display:inline;
        }
    }
    img.gallery-image {
        width:640px;
        height:308px;
        border:none;
    }
    span {
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
    }
}
.msg {
    overflow:hidden;
}


h2.OT_subtitle {
    font-size: 8px!important;
    position: relative;
    left: -10px;
}
.menu-page {
    td {
        text-transform: lowercase;
        font-size: 12px;
        line-height: 30px;
        height: 60px;
    }
}
.top-para {
    .addthis_toolbox {
        display: none;
    }
}
.addthis_toolbox {
    position: relative;
    top:20px;
    left:15px;
}
#high {
    td {
        height: 36px;
    }
}
.cat-Menu {
    h3 {
        color:#EE3124!important;
        text-align:center!important;
        border-bottom: 1px #000 solid;
        width: 500px;
    }
    table {
        tr {
            td:nth-child(1) {
                width: 450px!important;
            }
            td:nth-child(2) {
                border-left-color:#000000;
                border-left-style:dotted;
                border-left-width:1px;
                text-align:right;
                width:50px;
            }
        }
    }
    td {
        text-transform: lowercase;
        font-size: 12px!important;
        height: 20px;
    }
}
.cat-Menu table, .cat-Menu h3 {
    left:20px;
    position:relative;
}
.cat-Christmas {
    h3 {
        color:#EE3124!important;
        text-align:center!important;
        border-bottom: 1px #000 solid;
        width: 500px;
    }
    table {
        tr {
            td:nth-child(1) {
                width: 450px!important;
            }
            td:nth-child(2) {
                border-left-color:#000000;
                border-left-style:dotted;
                border-left-width:1px;
                text-align:right;
                width:50px;
            }
        }
    }
    td {
        text-transform: lowercase;
        font-size: 12px!important;
        height: 20px;
    }
}
.cat-Christmas table, .cat-Menu h3 {
    left:20px;
    position:relative;
}

a.menus {
    color: #000;
}
.gallaery-scroll {
    display: block;
}
.page-144 .booktable, .404 .booktable, .586 .booktable, .593 .booktable, .579 .booktable, .582 .booktable, .590 .booktable {
    display: none;
}
div.page-144 {
    .booktable {
        display: none;
    }
}
.twitter {
    #twitter-widget-0 {
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        display: block;
    }
}
#post-900 {
    p {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 1px;
    }
    h4 {
        font-size: 12px;
        line-height: 12px;
        margin:0px;
        padding: 0px;
    }
}
h3.page-feed {
    font-size: 32px;
    line-height: 1;
    margin:auto;
    
    display: block;
    text-align: left;
    a {
        text-decoration: none;
        color: @dark-slate;
    }
}
p.menu-intro-text {
    padding: 0 0px 0 14px!important;
    color: #444343!important;
    font-size: 18px!important;
    line-height: 20px!important;
}
ul.anyslide {
    li:firstchild {
        visibility:visible!important;
    }
}
