.hermesfbregular {
  font-family: "Hermes FB";
  font-style: normal;
  font-weight: normal;
}
.hermesfbthin {
  font-family: "Hermes FB Thin";
  font-style: normal;
  font-weight: normal;
}
.hermesfbthinitalic {
  font-family: "Hermes FB Thin";
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Hermes FB Thin";
  src: url("//cloud.webtype.com/webtype/ff2/2/6e0fd2a8-09cf-4811-afbd-f27bdc4dfeb6?8f7c4c4997246fd7fa920077cd943b565fcb2b3bbb94726ad793cbacfd15f634f4ade7a58b5b50c27f855825d60f43efd83940b17f01e577ed55f903a7f973ac7c32cfe63c6cc7794aec0f7e7393658e1febb8cf021da657fba4dd546aeaed303fceccb40316fc689b1065c328910d12d5a9b5f6e62e7f758adccb78c3ecd9");
  src: url("//cloud.webtype.com/webtype/ff2/2/6e0fd2a8-09cf-4811-afbd-f27bdc4dfeb6?8f7c4c4997246fd7fa920077cd943b565fcb2b3bbb94726ad793cbacfd15f634f4ade7a58b5b50c27f855825d60f43efd83940b17f01e577ed55f903a7f973ac7c32cfe63c6cc7794aec0f7e7393658e1febb8cf021da657fba4dd546aeaed303fceccb40316fc689b1065c328910d12d5a9b5f6e62e7f758adccb78c3ecd9#iefix") format("embedded-opentype"), url("//cloud.webtype.com/webtype/ff2/1/9859d08d-3cca-4041-8443-4570c3c5ccb7?8f7c4c4997246fd7fa920077cd943b565fcb2b3bbb94726ad793cbacfd15f634f4ade7a58b5b50c27c855778d35043ed22ad6950b684be7e60e5e38a49fe323b9c1418357d16de6ff311ff280902fec274b526d3b544cb5a0ccb502cfec7c35703a4f11f11c89df8826a98e6b686a371dbe33c7d47cd6914913891d139aace") format("truetype"), url("//cloud.webtype.com/webtype/ff2/3/a001ada7-6be6-4412-9944-f13dfc3cf9b3?8f7c4c4997246fd7fa920077cd943b565fcb2b3bbb94726ad793cbacfd15f634f4ade7a58b5b50c27e850f70d65846b996bb42a051c2efb78c33780c12e84a87aa3c444fc76b925472913bd1c928123bfff919f4b5f2af9935e790e23c98469824b5476ff0344c606c44242fa364cefc6fe100afb3e712969ca85795620a41") format("woff"), url("//cloud.webtype.com/webtype/ff2/4/54c4734f-4aa7-4f74-98ed-065360127593?8f7c4c4997246fd7fa920077cd943b565fcb2b3bbb94726ad793cbacfd15f634f4ade7a58b5b50c279855b74855d10ee635397865211667a7f75b218d54f5598f12e2c234a3d92e232f493162b33c8c1dd2536a186c6bb4cb0d362ca494a02ba039eb8fe0ec401a76d55f1b9d3bd3be2331ae6694837f0f960d38c8a06fc85#web") format("svg");
  font-style: normal;
  font-weight: bold;
}
body {
  font-family: "Hermes FB Thin";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hermes FB Thin";
  text-transform: uppercase;
  font-weight: bold;
}
