@media print {

	.right-column {
		display: none;
	}


	div.main-column {
		width: 100%;
	}

	#footer h3 {
		display: none;
	}

	#footer p {
		display: none;
	}

	#footer p.contact-info {
		display: block;
	}

	#footer {
		background: none;
		border-top: 1px solid #ddd;
	}
}