@charset "utf-8";

/* CSS Perkin Reveller */



.main-column .image-container p{padding:0px!important; margin: 0px!important;}



.newsletter{position: relative; top: -70px; left: 500px;}



body {

	margin:0;

	padding:0;

	position:absolute;

	height:100%;

	width:100%;

	color:#444434;

}

img, a {

	outline:none;

	border:none;

}

.left {

	float:left;

}

.right {

	float:right;

}

.clear {

	clear:both;

}

#page-wrapper {

	width:100%;

}

div.inner-wrapper {

	width:1280px;

	height:auto;

	margin:0 auto;

	position:relative;

}

#header {

	height:100px;

	width:100%;

	min-width:1188px;

	background:#fff;

	margin-bottom:10px;

	position:relative;

	z-index:99999999;

}

#header a {

	display:block;

	margin:0 auto;

	width:576px;

}

#slideshow-wrapper {

	display: block;

	width:25%;

	min-width:297px;

	position:relative;

}

#slideshow-container {

	height:120%;

	width:400%;

	position:relative;

}

/* SLIDER */

#slideshow {

	width:100%;

	min-width:1100px;

	overflow:hidden;

	position:relative;

}

#slideshow div img {

	width:50%;

}

img.first-img {

	position:absolute;

	top:0;

	left:-25%;

}

img.second-img {

	position:absolute;

	top:0;

	left:25%;

}

img.third-img {

	position:absolute;

	top:0;

	right:-25%;

}

#overlay-container {

	min-width:1100px;

	height:auto;

	position:relative;

}

img#overlay-left {

	position:absolute;

	top:0;

	left:0;

	width:25%;

	z-index:99;

}

img#overlay-right {

	position:absolute;

	top:0;

	right:0;

	width:25%;

	z-index:99;

}

a.pager-btn {

	position:absolute;

	z-index:99999998;

	height:17% !important;

	width:4% !important;

	position:absolute;

	display:block;

	top:32%;

	height:90px;

	margin:0;

}

#prev-btn {

	left:21%;

}

#next-btn {

	right:21%;

}

/* // */



/* Strapline */

div.strapline-container {

	position:absolute;

	z-index:999999999999;

	top:32px;

	left:348px;

}

h2.strapline {

	color:#fff !important;

	font-size:22px !important;

	

	text-transform: uppercase;

	line-height:18px;

	margin:0;

	padding:0;

}

h2.strapline span {

	background:#e90000;

	padding:3px 4px 1px 4px;

	opacity:0.75;

}

h2.line-two {

	margin-top:5px;

}

#menu-container {

	height:47px;

	width:100%;

	min-width:1280px;

	position:relative;

}

/* // */



/* Gallery Slider */

#gallery, #gallery img {

	width:1280px;

	height:798px;

}

#gallery {

	margin:0 0 13px 0;

	background:#000;

}

a.gallery-pager-btn {

	display:block;

	height:798px;

	width:170px;

}

a#gallery-prev {

	background:url(images/gallery-overlay-left.png) top left no-repeat;

	position:absolute;

	top:0;

	left:0;

	z-index:99999999999999;

}

a#gallery-next {

	background:url(images/gallery-overlay-right.png) top right no-repeat;

	position:absolute;

	top:0;

	right:0;

	z-index:99999999999999;

}

/* // */



/* Main Menu */

ul#menu {

	z-index:999999;

	display:block;

	margin:0;

	padding:0;

	overflow:auto;

	margin:0 auto;

	position:relative;

	width:820px;

}

ul#menu li {

	display:inline-block;

	float:left;

	overflow:auto;

}

ul#menu li a {

	display:block;

	margin:6px 0 46px 0;

	padding:0 20px;

	border-right:2px solid #f64f4f;

	text-decoration:none;

	color:#444343;

	font-size:20px;

}

ul#menu li:last-child a {

	border-right:none !important;

}

ul#menu li a.selected, ul#menu li.current-menu-item a span, ul#menu li a:hover {

	color:#ee2e24 !important;

}

ul#menu li a:hover span, ul#menu li a.selected span, ul#menu li.current-menu-item a span {

	border-bottom:1px solid #ee2e24;

}

ul#menu li.last a {

	border-right:none;

}

#content {

	width:100%;

	min-width:1280px;

	height:auto;

	background:url(images/content-bg.jpg) top left repeat-x #fafaf8;

}

#inner-content {

	width:1005px;

	margin:0 auto;

	padding:20px 0;

	position:relative;

}

h1.page-header {

	font-size:32px;

	text-align:center;

	color:#444434;

	padding:0 0 10px 0;

}

div.top-para p {

	

	font-size:18px;

	text-align:center;

	padding:0 20px;

}

div.three-col-section {

	float:left;

	width:33%;

	height:auto;

	text-align:center;

}

div.three-col-section h2 {

	font-size:24px;

	font-weight:normal;

	margin:0;

}

div.three-col-section p {

	font-size:18px;

	

	padding:0 20px;

}

body p a {

	color:#ee2e24;

}

#footer {

	width:100%;

	min-width:1280px;

	height:auto;

	min-height:240px;

	position:relative;

}

div.home-footer {

}

div.about-footer {

	background:url(images/about_base.jpg) center no-repeat #fff;

}

div.restaurant-footer {

	background:url(images/restaurant_base.jpg) center no-repeat #000;

}

div.news-footer {

	background:url(images/news_base.jpg) center no-repeat #000;

}

div.book-footer {

	background:url(images/booking_base.jpg) center no-repeat;

}

div.bar-footer {

	background:url(images/bar_base.jpg) center no-repeat #000;

}

div.menu-footer {

	background:url(images/menu_base.jpg) center no-repeat #000;

}

div.gallery-footer {

	background:url(images/gallery_base.jpg) center no-repeat #000;

}

div.contact-footer {

	background:url(images/contact_base.jpg) center no-repeat #fff;

}

div.contact-footer h3, div.contact-footer p, div.contact-footer a, div.about-footer a, div.book-footer a {

	color:#000 !important;

}

div.home-footer {

	background:url(images/home_base.jpg) center no-repeat #000;

}

#footer-top {

	height:49px;

	width:100%;

	background:url(images/footer-top.png) left repeat-x;

	position:absolute;

	top:-40px;

}

#footer h3 {

	color:#fff;

	text-align:center;

	padding:38px 0 0 0;

	font-size:24px;

}

#footer p {

	color:#fff;

	text-align:center;

	font-size:18px;

	

	width:890px;

	margin:0 auto;

}

/* Invert for white ftbg's */

div.about-footer h3, div.about-footer p, div.book-footer h3, div.book-footer p {

	color:#000 !important;

}

img.social {

	margin:0 auto;

	display:block;

}

.red {

	color:#ee2e24;

}

div.right-column {

	float:right;

	width:332px;

	margin:0 4px;

	right:0;

	position:relative;

	z-index:999;

}

div.sidebar-section {

	width:332px;

	background:#fff;

	margin:0 0 20px 0;

	padding:5px 5px 5px 5px;

	border:1px solid #f8f8f6;

	-moz-box-shadow: 1px 0px 6px #ccc;

	-webkit-box-shadow: 1px 0px 6px #ccc;

	box-shadow: 1px 0px 6px #ccc;

	position:relative;

}

div.sidebar-section h3 {

	font-size:26px!important;

	color:#444343!important;

	margin:10px;

	text-align:center;

	font-size:18px;

}

div.sidebar-section h2 {

	font-size:32px;

	color:#444343;

	margin:10px;

	text-align:center;

text-transform: lowercase;

}

div.sidebar-section p, #bookingform div p {

	color:#000;

	font-size:14px;

	

	text-align:center;

	margin-top:0;

	font-weight:normal;

}

form#bookingform {

	text-align:center;

	color:#000;

	font-size:14px;

	

	font-weight:bold;

	margin-bottom:30px;

}

form#bookingform select {

	width:130px;

	margin:0 0 18px 20px;

}

form#bookingform div label {

	text-align:right;

	width:130px;

	display:inline-block;

}

form#bookingform input[type="submit"] {

	cursor:pointer;

}

h3.saa {

	color:#696a6c !important;

	font-size:23px !important;

	padding:10px 0 0 0;

}

div.post p {

	font-size:18px !important;

	color:#696a6c;

	padding:0 30px;

}

div.main-column {

	float:left;

	width:560px;

	padding:0 0px 0 80px;

	position:relative;

}

div.post-item {

	position:relative;

	padding-bottom:20px;

	margin-bottom:50px;

}

a.upbtn {

	display:block;

	height:88px;

	width:58px;

	position:absolute;

	left:-70px;

	bottom:60px;

	background:url(images/upbtn.png);

}

h1.mcheader {

	font-size:32px;

	color:#444343;

	text-align:center;

	margin-top:0;

	padding-top:0;

}

.mcheader a {

	color:#444343;

}

div.main-column p {

	padding:0 0px 0 14px;

	

	color:#444343;

	font-size:18px;

}

div.image-container {

	background:#fff;

	text-align:center;

	width:527px;

	height:346px;

	padding:12px;

	position:relative;

	margin:0 auto;

	margin-top:50px;

	margin-bottom:5px;

	-moz-box-shadow: 1px 0px 6px #ccc;

	-webkit-box-shadow: 1px 0px 6px #ccc;

	box-shadow: 1px 0px 6px #ccc;

}

div.sticker {

	height:82px;

	width:82px;

	margin:0 auto;

	position:absolute;

	background:url(images/redsticker.png);

	left:236px;

	top:-30px;

}

img.shareicons {

	margin:0 0 0 10px;

}

ul.tweets {

	list-style:none;

	margin-left: 0px;

	padding-right: 20px;

}

ul.tweets li img {

	float:left;

	padding-right:5px;

	padding-bottom:5px;

}

ul.tweets li a {

	text-decoration:none;

	color:#ee3124;

}

ul.tweets li {

	font-size:12px;

	color:#444343;

	display:block;

	

}

p.edit a, span.edit a {

	font-size:0.75em;

	font-weight:bold;

	color:#f50;

}

p.edit a:hover, span.edit a:hover {

	color:red;

}

ul.gallery-thumbs {

	margin:0px;

	margin-bottom:10px;

	padding:0px;

}

ul.gallery-thumbs li {

	display:inline;

	margin:10px;

	margin-left:4px;

	margin-right:4px;

}

ul.gallery-thumbs li a img {

	border:solid 1px #ddd;

	padding:5px;

}

div#slides {

	left: 0;

	overflow: hidden;

	position: absolute;

	visibility: visible;

	width: 100% !important;

	z-index: 2;

}



#slides ul.anyslide {

	float:left;

	width:100%;

	text-align:center;

	/*margin-left:-320px !important;*/

margin-left:-320px !important;

}

#slides ul.anyslide li {

	display:inline;

}

#slides img.gallery-image {

	width:640px;

	height:308px;

	border:none;

}

.msg {

	overflow:hidden;

}

ul.tweets {

	margin-top:0px;

	padding-left: 15px;

	padding-right: 15px;

}

ul.tweets li {

}

div.main-column p small a{

	color: #EE2E24;

	text-decoration:none;

	font-size:0.8em;

}



#TB_iframeContent{

z-index: 9999999999999999999999999999999;

}



h2.OT_subtitle{font-size: 8px!important; position: relative; left: -10px;}

/*.sidebar-section h2{font-size: 8px!important;}*/



.menu-page td{

text-transform: lowercase;

font-size: 12px;

line-height: 30px;

height: 60px;

}



/*ul.show-on-menu-page{

display: none;

}



.menu-page ul.show-on-menu-page{

display: inline!important;

}*/



.top-para .addthis_toolbox {display: none;}



.addthis_toolbox{position: relative; top:20px; left:15px;}





#high td {height: 36px;}



/*===================================*/



.cat-Menu h3{

  color:#EE3124!important;

  text-align:center!important;

  border-bottom: 1px #000 solid;

  width: 500px;

}



.cat-Menu table tr td:nth-child(1){

width: 450px!important;

}



.cat-Menu td{

text-transform: lowercase;

font-size: 12px!important;

height: 20px;

}



.cat-Menu table, .cat-Menu h3 {

  left:20px;

  position:relative;

}



.cat-Menu table tr td:nth-child(2) {

  border-left-color:#000000;

  border-left-style:dotted;

  border-left-width:1px;

  text-align:right;

  width:50px;

}



/*-----*/



.cat-Christmas h3{

  color:#EE3124!important;

  text-align:center!important;

  border-bottom: 1px #000 solid;

  width: 500px;

}



.cat-Christmas table tr td:nth-child(1){

width: 450px!important;

}



.cat-Christmas td{

text-transform: lowercase;

font-size: 12px!important;

height: 20px;

}



.cat-Christmas table, .cat-Menu h3 {

  left:20px;

  position:relative;

}



.cat-Christmas table tr td:nth-child(2) {

  border-left-color:#000000;

  border-left-style:dotted;

  border-left-width:1px;

  text-align:right;

  width:50px;

}



/*-----*/



ul.show-on-menu-page{

	width: 300px;

	list-style-type: none;

	margin-bottom:20px;

        overflow:hidden;

	margin-top: -10px;

}

ul.show-on-menu-page li{

	float: left;

	width:50%;

	display:inline;

	padding-bottom: 2px;

}



a.menus{color: #000;}





ul.show-on-menu-page li a {

	

	text-decoration:none;

	color:#444343;

	font-size:14px;

}



ul.show-on-menu-page li a:hover {

	color:#ee2e24 !important;

}

ul.show-on-menu-page li a:hover  {

	border-bottom:1px solid #ee2e24;}





#slides span { text-transform: uppercase; color: #fff; font-size: 20px;}

h2.strapline{ text-transform: uppercase; color: #fff; font-size: 20px;}

h2.strapline span{text-transform: uppercase; color: #fff; font-size: 20px;}



.gallaery-scroll{display: block;}



ul.gallery-thumbs{position: relative; width: auto;}



.page-144 .booktable, .404 .booktable, .586 .booktable, .593 .booktable, .579 .booktable, .582 .booktable, .590 .booktable{display: none;}

div.page-144 .booktable {display: none;}



.twitter #twitter-widget-0{width: 333px!important;}



#post-900 p {



font-size: 12px;

line-height: 12px;

margin-bottom: 1px;

}



#post-900 h4{



font-size: 12px;

line-height: 12px;

margin:0px;

padding: 0px;


}


h3.page-feed {



font-size: 32px;

line-height: 1;

margin:auto;

padding: 0px;

display: block;

text-align: center;

}

h3.page-feed a {
	text-decoration: none;
	color: #ee2e24;
}




p.menu-intro-text{

padding: 0 0px 0 14px!important;



color: #444343!important;

font-size: 18px!important;

line-height: 20px!important;

}







/*ul.anyslide li{

visibility:hidden!important;

}*/



ul.anyslide li:firstchild{

visibility:visible!important;

}







